
**/*.pyc
__pycache__/
**/__pycache__/
logs.log
/test.py
/main.onefile-build
/main.dist
/main.build
/main.exe
venv
main.app
.DS_Store
resources/Icons.icns
UltraFlasher.app/Contents/Resources/Icons.icns
Contents
/.venv
/firmware.bin
/build_results